<div class="container-fluid">
  <div class="row">
    <div class="col bg-dark text-white">
      <a class="navbar-brand">SPORTS STORE (admin)</a>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">
      <button class="btn btn-outline-info btn-block"
              routerLink="/admin/main/products"
              routerLinkActive="activate">
        Products
      </button>
      <button class="btn btn-outline-info btn-block"
              routerLink="/admin/main/orders"
              routerLinkActive="activate">
        Orders
      </button>
      <button (click)="logout()" class="btn btn-outline-danger btn-block">
        Logout
      </button>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
