<div class="bg-info p-2 text-center text-white">
  <h3>Sprots Store Admin</h3>
  <div *ngIf="errormessage != null" class="bg-danger mt-2 p-2 text-center text-white">
    {{errormessage}}
  </div>

  <div class="p-2">
    <form #form="ngForm" (ngSubmit)="authenticate(form)" novalidate>
      <div class="form-group">
        <label>
          Name
          <input [(ngModel)]="username" class="form-control" name="username" required/>
        </label>
      </div>

      <div class="form-group">
        <label>
          Password
          <input [(ngModel)]="password" class="form-control" name="password" required type="password"/>
        </label>
      </div>

      <div class="text-center">
        <button class="btn btn-secondary m-1" routerLink="/">Go back</button>
        <button class="btn btn-primary m-1" type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>
