<div [class.bg-warning]="editing" [class.text-dark]="editing" class="bg-primary p-2 text-white">
  <h5>{{editing ? "Edit" : "Create"}} Product</h5>
</div>

<form novalidate #form="ngForm" (ngSubmit)="save(form)">
  <div class="form-group">
    <label>
      Name
      <input class="form-control" name="name" [(ngModel)]="product.name"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Category
      <input class="form-control" name="category" [(ngModel)]="product.category"/>
    </label>
  </div>
  <div class="form-group">
    <label>
      Description
      <textarea class="form-control" name="description" [(ngModel)]="product.description"></textarea>
    </label>
  </div>
  <div class="form-group">
    <label>
      Price
      <input class="form-control" name="price" [(ngModel)]="product.price"/>
    </label>
  </div>

  <button type="submit" class="btn btn-primary" [class.btn-warning]="editing">
    {{editing ? "Save" : "Create"}}
  </button>
  <button type="reset" class="btn btn-secondary" routerLink="/admin/main/products">
    Cancel
  </button>
</form>
